  /* --- Navigation / Sidebar ------------------------------------------------- */
/* title image */
.wy-side-nav-search {
  padding-top: 170px;
  background-image: url("../images/logomark_circle.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #222222;
  background-position-x: 1.8em;
}

  .wy-side-nav-search {
        background-color: #222222;
  }
  
  /* nav aside */
  .wy-menu-vertical {
    margin: 1rem 0;
  }
  
  /* header items */
  .wy-menu-vertical > p {
    margin: 1rem;
    color: #999999;
  }
  
  /* menu items */
  .wy-menu-vertical .toctree-l1 {
    color: #999999;
  }
  
  /* menu items - hover */
  .wy-menu-vertical a:active {
    background-color: #0D62FF;
    cursor: pointer;
    color: #fff;
  }
  
  /* search box */
  .wy-side-nav-search input[type="text"] {
    border-color: #00328F;
  }
  
  /* make side navigation scrollable  */
  
  .wy-nav-side,
  .wy-side-scroll {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
  }
  
  .wy-menu-vertical {
    overflow: auto;
    scrollbar-color: #999 #222;
  }
  
  .wy-menu-vertical::-webkit-scrollbar {
    width: 12px;
  }
  
  .wy-menu-vertical::-webkit-scrollbar-track {
    background: #222;
  }
  
  .wy-menu-vertical::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 3px solid rgba(0, 0, 0, 255);
    border-radius: 20px;
  }
  
  /* --- Taglist -------------------------------------------------------------- */
  
  .taglist .tag {
    display: inline-block;
  }
  
  .taglist {
    margin-top: -1.3em;
    margin-bottom: 0.83em;
  }
  
  .tagguides {
    display: flex;
    flex-wrap: wrap;
  
    margin-left: -0.5em;
    margin-right: -0.5em;
  }
  
  .tagguides a {
    margin: 0.5em;
    font-size: 1.2em;
  }
  
  /* --- Misc ----------------------------------------------------------------- */
  
  /* remove paddings for highlights */
  .rst-content .highlighted {
    padding: 0;
  }
  
  /* re-enabel list-style */
  blockquote .rst-content ul {
    padding: 0;
  }
  .rst-content ul {
    padding: 1rem;
  }
  .rst-content ul li {
    list-style: disc;
  }
  